<div class="left_main">
                    <!--=================================================Tóm tắt=================================================-->
                    	<div class="item_left_main">
                        	<div class="info_data">
                            	<div class="item_info_data">
                                	<span>@ViewBag.totalCompetition</span> 
                                    <a href="@Url.Content("~/administrator/competitions")">Competitions</a>
                                </div>
                            	<div class="item_info_data">
                                	<span>@ViewBag.totalDesign</span>
                                    <a href="@Url.Content("~/administrator/designs")">Designs</a>
                                </div>
                            	<div class="item_info_data">
                                	<span>@ViewBag.totalKind</span>
                                    <a href="@Url.Content("~/administrator/kinds")">Kinds</a>
                                </div>
                            	<div class="item_info_data">
                                	<span>@ViewBag.totalExhibition</span>
                                    <a href="@Url.Content("~/administrator/exhibitions")">Exhibitions</a>
                                </div>
                            	<div class="item_info_data">
                                	<span>@ViewBag.totalMember</span>
                                    <a href="@Url.Content("~/administrator/members")">Members</a>
                                </div>
                            </div><!--#END info_data-->
                            <div class="statistics">
                            	<div class="item_statistics">
                                	<a href="#">Daily Statistics</a>
                                </div>
                            </div><!--#END statistics-->
                            <div class="content_statistics">
                            	<div class="title_content_statistics">
                                	<div class="img_title_content_statistics">
                                    	<img alt="" src="@Url.Content("~/Content/Images/admins/menu-icon/new_design_icon.png")" />
                                    </div>
                                	<div class="text_title_content_statistics">
                                    	News Designs:
                                    </div>
                                	<div class="info_title_content_statistics">
                                    	
                                    </div>
                                	<div class="link_title_content_statistics">
                                    	<a href="@Url.Content("~/administrator/designs")">(View all)</a>
                                    </div>
                                </div><!--#END title_content_statistics-->
                                <div class="content_content_statistics">
                                	<ul>
                                    @foreach (eProjectsSemIII.Models.Designs design in ViewBag.newDesign)
                                    {                                        
                                    	<li>
                                        	<a href="@Url.Content("~/design/detail/"+design.Alias)">@design.Member.Name - @design.Member.Email</a>
                                            <span class="info_content_content_statistics">(Date post: @design.DatePost)</span>
                                        </li>
                                    }
                                    </ul>
                                </div><!--#END content_content_statistics-->
                            	<div class="title_content_statistics">
                                	<div class="img_title_content_statistics">
                                    	<img alt="" src="@Url.Content("~/Content/Images/admins/menu-icon/new_contact_icon.png")" />
                                    </div>
                                	<div class="text_title_content_statistics">
                                    	News Contacts:
                                    </div>
                                	<div class="info_title_content_statistics">
                                    	
                                    </div>
                                	<div class="link_title_content_statistics">
                                    	<a href="#">(View all)</a>
                                    </div>
                                </div><!--#END title_content_statistics-->
                            </div><!--#END content_statistics-->
                        </div><!--#END item_left_main-->
                    	<div class="item_left_main_other">
                            <div class="item_quick_access">
                                <a href="#">
                                    <img alt="" src="@Url.Content("~/Content/Images/admins/menu-icon/add_news_icon.png")" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img alt="" src="@Url.Content("~/Content/Images/admins/menu-icon/add_news_icon.png")" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img alt="" src="@Url.Content("~/Content/Images/admins/menu-icon/add_news_icon.png")" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img alt="" src="@Url.Content("~/Content/Images/admins/menu-icon/add_news_icon.png")" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img alt="" src="@Url.Content("~/Content/Images/admins/menu-icon/add_news_icon.png")" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img alt="" src="@Url.Content("~/Content/Images/admins/menu-icon/add_news_icon.png")" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img alt="" src="@Url.Content("~/Content/Images/admins/menu-icon/add_news_icon.png")" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img alt="" src="@Url.Content("~/Content/Images/admins/menu-icon/add_news_icon.png")" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img alt="" src="@Url.Content("~/Content/Images/admins/menu-icon/add_news_icon.png")" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img alt="" src="@Url.Content("~/Content/Images/admins/menu-icon/add_news_icon.png")" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img alt="" src="@Url.Content("~/Content/Images/admins/menu-icon/add_news_icon.png")" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                            <div class="item_quick_access">
                                <a href="#">
                                    <img alt="" src="@Url.Content("~/Content/Images/admins/menu-icon/add_news_icon.png")" />
                                    <span>Add New Article</span>
                                </a>
                            </div>
                        </div><!--#END item_left_main-->
                    </div><!--#END left_main-->
                    <div class="right_main">
                    	<div class="item_right_main">
                        	<div class="title_item_right_main">
                            	Guide video
                            </div>
                        	<div class="content_item_right_main">
                            	<div class="item_content_item_right">
                                	<a href="#">Add new competition</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Edit competition</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Add new exhibition</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Edit exhibition</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Add new award</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Edit award</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Add new kind</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Edit kind</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Add new condition</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Edit condition</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Add new class</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Delete class</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Add new role</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Add new menu</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Edit member</a>
                                </div>
                            	<div class="item_content_item_right">
                                	<a href="#">Delete item</a>
                                </div>
                            </div>
                        </div><!--#END item_right_main-->
                    </div><!--#END right_main-->