@model eProjectsSemIII.Models.Competitions
@{
    ViewBag.Title = "ASP.NET MVC Finel Art ";
}
                    <!--------------------THE UPCOMING COMPETITIONS--------------------->
                	<div class="content-left-title">
                    	THE DETAIL OF COMPETITION 
                    </div>
                  
                    <div class="content-left-content">
                    	<div class="content-left-content-item">
                        	<div class="item-image">
                            
                            	<img src="@Url.Content("~/Content/Images/competitions/" + @Model.Images)" alt="@Model.Name" />
                       
                            </div>
                            <div class="item-detail">
                            	<div class="item-detail-note">
                                	
                                      @Model.DeadlineDate.ToString("dd/MMM/yyyy") (deadline)
                                </div>
                            	<div class="item-detail-title">
                                   <a>@Model.Name</a>
                                	
                                </div>
                                <div class="item-detail-content">
                              
                                	@Model.Summary
                                </div>

                                <div class="item-detail-title">
                                   <a> Condition  of @Model.Name:</a> 
                                	
                                </div>
                                <div class="item-detail-content">
                                    
                                     @foreach (var condition in Model.Condition)
                                     {
                                         @condition.Name <br />
                                         @condition.Description
                                         
                                     }
                                  
                                </div>
                                <div class="item-detail-title">
                                  <a> Award of @Model.Name: </a>
                                	
                                </div>
                                <div class="item-detail-content">
                              
                                @foreach (var award in Model.Award)
                                {
                                         @award.Name <br />
                                         @award.Description
                                         
                                }
                                </div>

                                 <div class="item-detail-title">
                                  <a> Staffs specified of  @Model.Name: </a>
                                	
                                </div>

                                <div class="item-detail-content">
                              
                                @foreach (var staff in Model.Staffs)
                                {
                                         @staff.Name  <br />
                                        
                                         
                                }
                                </div>
                               
                            	
                            	<div class="item-detail-date">
                                  <div style="float:right">
                                        Start date:@Model.StartDate.ToString("dd/MMM/yyyy")<br />
                                        End date :@Model.EndDate.ToString("dd/MMM/yyyy")
                                  </div>
                                </div>
                               
                            </div>
                         
                        </div>
                    </div>



            <!-- if end date>date.now() will show design of student -->

            if( @Model.DeadlineDate < @DateTime.Now)
            {
                <!--------------------THE UPCOMING COMPETITIONS--------------------->
                	
                    	THE DESIGN OF COMPETITION
                   
                   @foreach (var items in Model.Design)
                   { 
                    <div class="content-left-content">
                    	<div class="content-left-content-item">
                        	<div class="item-image">
                            
                            	
                                <img src="@Url.Content("~/Content/Images/competitions/" + @items.Images)" alt="@items.Name" />
                       
                            </div>
                            <div class="item-detail">
                            	<div class="item-detail-note">
                                	 
                                     @items.DatePost (deadline)
                                </div>
                            	<div class="item-detail-title">
                                   <a href="@Url.Content("~/Home/Details/" + @items.ID)")>@items.Name</a>
                                	
                                </div>
                            	<div class="item-detail-content">
                              
                                	@items.Description
                                </div>
                            	
                                <div class="item-detail-link">
                                
                                 <a href="@Url.Content("~/Home/Details/" + @items.ID)")>@items.Name</a>
                                	
                                </div>
                            </div>
                         
                        </div>
                    </div>
                                
                   } 
                   
                  
            }
            
            
              