@model eProjectsSemIII.Models.Designs
@{
    ViewBag.Title = "ASP.NET MVC Finel Art ";
}
                    <!--------------------THE UPCOMING COMPETITIONS--------------------->
                	<div class="content-left-title">
                    	THE DESIGN OF KIND
                    </div>
                  
                    <div class="content-left-content">
                    	<div class="content-left-content-item">
                        	<div class="item-image">
                            
                            	<img src="@Model.Images" alt="@Model.Name" />
                       
                            </div>
                            <div class="item-detail">
                            	<div class="item-detail-note">
                                	 November 9, 2012 (deadline)
                                </div>
                            	<div class="item-detail-title">
                                    @Model.Name
                                	
                                </div>
                                <div class="item-detail-title">
                                   Mark :  @Model.Mark
                                	
                                </div>
                                <div class="item-detail-title">
                                   Remark :  @Model.Remark
                                	
                                </div>
                                <div class="item-detail-title">
                                   Design of Student :  @Model.Member.Name
                                	
                                </div>
                                <div class="item-detail-title">
                                    Name of Competitions :  @Model.Competition.Name
                                	
                                </div>
                            	<div class="item-detail-content">
                              
                                	@Model.Description
                                </div>
                            	<div class="item-detail-date">
                                  
                                    Start date:@Model.DatePost
                                </div>
                               
                            </div>
                         
                        </div>
                    </div>
                                
          