@using eProjectsSemIII.Models;
@{
    ViewBag.Title = "ASP.NET MVC Finel Art ";
}
                    <!--------------------THE UPCOMING COMPETITIONS--------------------->
                	<div class="content-left-title">
                    	THE UPCOMING COMPETITIONS
                    </div>
                    @foreach (Competitions upcomming in ViewBag.upcomming)
                    {
                    <div class="content-left-content">
                    	<div class="content-left-content-item">
                        	<div class="item-image">
                            
                            	<img src="@Url.Content("~/Content/Images/competitions/"+@upcomming.Images)" alt="@upcomming.Name" />
                       
                            </div>
                            <div class="item-detail">
                            	<div class="item-detail-note">
                               @upcomming.DeadlineDate.ToString("dd/MMM/yyyy") (deadline)
                                	
                                </div>
                            	<div class="item-detail-title">
                                    <a href="#">@upcomming.Name</a>
                                </div>
                            	<div class="item-detail-content">
                                @if (upcomming.Summary.Length > 80)
                                {
                                	@upcomming.Summary.Substring(0, 80);
                                }
                                else
                                {
                                    @upcomming.Summary
                                }
                                </div>
                            	<div class="item-detail-date">
                                  
                                    Start date:@upcomming.StartDate.ToString("dd/MMM/yyyy") <br />
                                    End date:@upcomming.EndDate.ToString("dd/MMM/yyyy")
                                </div>
                                <div class="item-detail-link">
                                	<a href="@Url.Content("~/Home/detail_upcomming/" + @upcomming.Alias)")>View detail...</a>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                                
                    }   
                      @{Html.RenderAction("Oncomming", "Home");} 
                
                	  
                       @{Html.RenderAction("list_Student", "Home");} 
                   
                    <div class="content-left-title">d dsf</div>