@using eProjectsSemIII.Models;
@{
    ViewBag.Title = "ASP.NET MVC Finel Art ";
}
                    <!--------------------THE ONCOMING COMPETITIONS--------------------->
                	<div class="content-left-title">
                    	THE ONCOMING COMPETITIONS
                    </div>
                    @foreach (Competitions oncomming in ViewBag.oncomming)
                    {
                    <div class="content-left-content">
                    	<div class="content-left-content-item">
                        	<div class="item-image">
                            
                            	<img src="@Url.Content("~/Content/Images/competitions/" + @oncomming.Images)" alt="@oncomming.Name" />
                       
                            </div>
                            <div class="item-detail">
                            	<div class="item-detail-note">
                               @oncomming.DeadlineDate.ToString("dd/MMM/yyyy") (deadline)
                                	
                                </div>
                            	<div class="item-detail-title">
                                    <a href="#">@oncomming.Name</a>
                                </div>
                            	<div class="item-detail-content">
                              
                                	@oncomming.Summary@*.Substring(0, 80)*@
                                </div>
                            	<div class="item-detail-date">
                                  
                                    Start date:@oncomming.StartDate.ToString("dd/MMM/yyyy") <br />
                                    End date:@oncomming.EndDate.ToString("dd/MMM/yyyy")
                                </div>
                                <div class="item-detail-link">
                                	<a href="@Url.Content("~/Home/detail_upcomming/" + @oncomming.ID)")>View detail...</a>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                                
                    }   