@model IEnumerable<eProjectsSemIII.Models.Designs> 
<!--------------------THE LIST ALL DESIGNS--------------------->
<div class="content-left-title">
    Result search
</div>
@if (Model.Count() > 0)
{
    foreach (var design in Model)
    {
    <div class="content-left-content">
        <div class="content-left-content-item">
            <div class="item-image">
                <img src="@Url.Content("~/Content/Images/designs/thumbnails/" + @design.Images)" alt="@design.Name" />
            </div>
            <div class="item-detail">
                <div class="item-detail-note">
                    Date Post: @design.DatePost.ToString("MMMM dd, yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))
                </div>
                <div class="item-detail-title">
                    <a href="@Url.Content("~/design/detail/" + @design.Alias)">@design.Name</a>
                </div>
                <div class="item-detail-content">
                    @if (design.Description.Length > 350)
                    {
                        @design.Description.Substring(0, 350)
                    }
                    else
                    {
                        @design.Description
                    }...
                </div>
                <div class="item-detail-link">
                    <a href="@Url.Content("~/design/detail/" + @design.Alias)")>View detail</a>
                </div>
            </div>
        </div>
    </div>                            
    }
}
else
{
    <div class="content-left-content">
    <span class="success">No result for search. Try again.</span>
    </div>
}
