<div class="path_menu">
    <div class="path_menu_item">
        <a href="@Url.Content("~/administrator/")">Home Page</a>
    </div>
    <div class="path_menu_item">
        <a href="@Url.Content("~/administrator/roles/")">Role</a>
    </div>
    <div class="path_menu_item">
        <a href="@Url.Content("~/administrator/roles/")">List systems roles</a>
    </div>
</div>
<div class="path_menu title_and_action">
    <div class="content_title">
        List systems role
    </div>
    <div class="content_action">
        <div class="item_content_action">
            <a href="#">
                <div class="img_item_content_action" id="help_action">
                </div>
                <div class="text_item_content_action">
                    Help
                </div>
            </a>
        </div>
        <div class="item_content_action">
            <a href="#">
                <div class="img_item_content_action" id="go_back_action">
                </div>
                <div class="text_item_content_action">
                    Go back
                </div>
            </a>
        </div>
        <div class="item_content_action">
            <a href="#">
                <div class="img_item_content_action" id="add_action">
                </div>
                <div class="text_item_content_action">
                    Add
                </div>
            </a>
        </div>
    </div>
    <!--#END content_action-->
</div>
<!--#END path_menu title_and_action-->
<!--===================================CHO DANH CHO VIEC SHOW FORM=================================================-->
<div class="path_menu">
    <div class="list_item">
        <table>
            <tr class="table_title">
                <td class="text-center">No.</td>
                <td class="text-left">Role Name</td>
                <td class="text-left">Alias</td>
                <td class="text-left">Role Description</td>
                <td class="text-center">View Menu of Role</td>
                <td class="text-center edit">Edit</td>
                <td class="text-center">Delete</td>
            </tr>
            @foreach (var role in ViewBag.listRole)
            {
            <tr>
                <td class="text-center num-id">@role.ID</td>
                <td class="text-left">@role.Name</td>
                <td class="text-left">@role.Alias</td>
                <td class="text-left">@role.Description</td>
                <td class="text-center">
                    <a href="">View Menus</a>
                </td>
                <td class="text-center">
                    <a href="">
                        <img alt="" src="@Url.Content("~/Content/Images/admins/menu-icon/edit_icon_20.png")" />
                    </a>
                </td>
                <td class="text-center">
                    <a href="">
                        <img alt="" src="@Url.Content("~/Content/Images/admins/menu-icon/edit_icon_20.png")" />
                    </a>
                </td>
            </tr>
            }
        </table>
    </div>
</div>
<!--================================#END CHO DANH CHO VIEC SHOW FORM===============================================-->
<div class="path_menu title_and_action">
    <div class="content_title">
        List systems roles
    </div>
    <div class="content_action">
        <div class="item_content_action">
            <a href="#">
                <div class="img_item_content_action" id="help_action1">
                </div>
                <div class="text_item_content_action">
                    Help
                </div>
            </a>
        </div>
        <div class="item_content_action">
            <a href="#">
                <div class="img_item_content_action" id="go_back_action1">
                </div>
                <div class="text_item_content_action">
                    Go back
                </div>
            </a>
        </div>
        <div class="item_content_action">
            <a href="#">
                <div class="img_item_content_action" id="add_action1">
                </div>
                <div class="text_item_content_action">
                    Add
                </div>
            </a>
        </div>
    </div>
    <!--#END content_action-->
</div>
<!--#END path_menu title_and_action-->
