@model List<eProjectsSemIII.Models.Customers>
<div class="path_menu">
    <div class="path_menu_item">
        <a href="@Url.Content("~/administrator/")">Home Page</a>
    </div>
    <div class="path_menu_item">
        <a href="@Url.Content("~/administrator/customers/")">Customers</a>
    </div>
    <div class="path_menu_item">
        <a href="@Url.Content("~/administrator/customers/")">List of Customers</a>
    </div>
</div>
<div class="path_menu title_and_action">
    <div class="content_title">
        List of Customers
    </div>
    <div class="content_action">
        <div class="item_content_action">
            <a href="#">
                <div class="img_item_content_action" id="help_action">
                </div>
                <div class="text_item_content_action">
                    Help
                </div>
            </a>
        </div>
        <div class="item_content_action">
            <a href="#">
                <div class="img_item_content_action" id="go_back_action">
                </div>
                <div class="text_item_content_action">
                    Go back
                </div>
            </a>
        </div>
        <div class="item_content_action">
            <a href="#">
                <div class="img_item_content_action" id="add_action">
                </div>
                <div class="text_item_content_action">
                    Add
                </div>
            </a>
        </div>
    </div>
    <!--#END content_action-->
</div>
<!--#END path_menu title_and_action-->
@if (ViewBag.pagingString != "" && ViewBag.pagingString != null)
{
<div class="path_menu">
    <div class="paging">
        @Html.Raw(ViewBag.pagingString)
    </div>
</div>
}
<!--===================================CHO DANH CHO VIEC SHOW FORM=================================================-->
<div class="path_menu">
    <div class="list_item">
        <table>
            <tr class="table_title">
                <td class="text-center">No.</td>
                <td class="text-left">Gender</td>
                <td class="text-left">Name</td>
                <td class="text-left">Address</td>
                <td class="text-left">Phone</td>
                <td class="text-left">Design</td>
                <td class="text-left">Exhibition</td>
                <td class="text-center">Date Buy</td>
                <td class="text-center edit">Edit</td>
                <td class="text-center">Delete</td>
            </tr>
            @{
                ViewBag.i = 0;
            }
            @foreach (var class_item in Model)
            {
            <tr>
                <td class="text-center num-id">@{ViewBag.i++;} @ViewBag.i</td>
                <td class="text-left">@class_item.Gender</td>
                <td class="text-left">@class_item.Name</td>
                <td class="text-left">@class_item.Address</td>
                <td class="text-left">@class_item.Phone</td>
                <td class="text-left">@class_item.Design.Name</td>
                <td class="text-left">@class_item.Exhibition.Name</td>
                <td class="text-center">@class_item.DateBuy.ToString("dd-MMM-yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))</td>
                <td class="text-center">
                    <a href="">
                        <img alt="" src="@Url.Content("~/Content/Images/admins/menu-icon/edit_icon_20.png")" />
                    </a>
                </td>
                <td class="text-center">
                    <a href="">
                        <img alt="" src="@Url.Content("~/Content/Images/admins/menu-icon/edit_icon_20.png")" />
                    </a>
                </td>
            </tr>
            }
        </table>
    </div>
</div>

@if (ViewBag.pagingString != "" && ViewBag.pagingString != null)
{
<div class="path_menu">
    <div class="paging">
        @Html.Raw(ViewBag.pagingString)
    </div>
</div>
}
<!--================================#END CHO DANH CHO VIEC SHOW FORM===============================================-->
<div class="path_menu title_and_action">
    <div class="content_title">
        List of Customers
    </div>
    <div class="content_action">
        <div class="item_content_action">
            <a href="#">
                <div class="img_item_content_action" id="help_action1">
                </div>
                <div class="text_item_content_action">
                    Help
                </div>
            </a>
        </div>
        <div class="item_content_action">
            <a href="#">
                <div class="img_item_content_action" id="go_back_action1">
                </div>
                <div class="text_item_content_action">
                    Go back
                </div>
            </a>
        </div>
        <div class="item_content_action">
            <a href="#">
                <div class="img_item_content_action" id="add_action1">
                </div>
                <div class="text_item_content_action">
                    Add
                </div>
            </a>
        </div>
    </div>
    <!--#END content_action-->
</div>
<!--#END path_menu title_and_action-->
