@model List<eProjectsSemIII.Models.Competitions>
@{
    ViewBag.Title = "ASP.NET MVC Finel Art ";
}
                    <!--------------------THE UPCOMING COMPETITIONS--------------------->
                	<div class="content-left-title">
                    	THE UPCOMING COMPETITIONS
                    </div>
                    @foreach (var upcomming in Model)
                    {
                    <div class="content-left-content">
                    	<div class="content-left-content-item">
                        	<div class="item-image">
                            
                            	<img src="@Url.Content("~/Content/Images/competitions/"+@upcomming.Images)" alt="@upcomming.Name" />
                       
                            </div>
                            <div class="item-detail">
                            	<div class="item-detail-note">
                                	 November 9, 2012 (deadline)
                                </div>
                            	<div class="item-detail-title">
                                    <a href="#">@upcomming.Name</a>
                                </div>
                            	<div class="item-detail-content">
                              
                                	@upcomming.Summary
                                </div>
                            	<div class="item-detail-date">
                                  
                                    Start date:@upcomming.StartDate
                                </div>
                                <div class="item-detail-link">
                                	<a href="#">View detail...</a>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                                
                    }   
                    <!--------------------ONGOING COMPETITIONS--------------------->
                	<div class="content-left-title">
                    	ONGOING COMPETITIONS
                    </div>
                    <div class="content-left-content">
                    	<div class="content-left-content-item">
                        	<div class="item-image">
                            	<img alt="" src="@Url.Content("~/Content/Images/competitions/competition-2.jpg")" />
                            </div>
                            <div class="item-detail">
                            	<div class="item-detail-note">
                                	Graphic Design / November 9, 2012 (deadline)
                                </div>
                            	<div class="item-detail-title">
                                	<a href="#">IACE International Awards</a>
                                </div>
                            	<div class="item-detail-content">
                                	The International Awards for Creative Excellence (IACE) is a high-profile design award scheme, recogniz the outstanding work creatives all over the world do for their clients, establishing image and identity, promoting.The Gentletude Design Award is an international award for typhographic design students.The Award is run by the NGO Gentletude, a not-for-profit organization founded by Cristina Milani...
                                </div>
                            	<div class="item-detail-date">
                                    Start date: 12/12/2012 - 20/01/2013
                                </div>
                                <div class="item-detail-link">
                                	<a href="#">View detail...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--------------------LIST OF STUDENTS--------------------->
                	<div class="content-left-title">
                    	LIST OF STUDENTS AWARDED
                    </div>
                    <div class="content-left-content">
                    	<div class="student-item">
                        	<img alt="" src="@Url.Content("~/Content/Images/students/student-1.jpg")" />
                        </div>
                    	<div class="student-item">
                        	<img alt="" src="@Url.Content("~/Content/Images/students/student-2.jpg")" />
                        </div>
                    	<div class="student-item">
                        	<img alt="" src="@Url.Content("~/Content/Images/students/student-3.jpg")" />
                        </div>
                    	<div class="student-item">
                        	<img alt="" src="@Url.Content("~/Content/Images/students/student-4.jpg")" />
                        </div>
                    	<div class="student-item">
                        	<img alt="" src="@Url.Content("~/Content/Images/students/student-5.jpg")" />
                        </div>
                    	<div class="student-item">
                        	<img alt="" src="@Url.Content("~/Content/Images/students/student-6.jpg")" />
                        </div>
                         @*@{Html.RenderAction("list_student", "Home");} *@
                    </div>
                    <div class="content-left-title">d dsf</div>