@using eProjectsSemIII.Models;
@{
    ViewBag.Title = "ASP.NET MVC Finel Art ";
}
                    <!--------------------THE UPCOMING COMPETITIONS--------------------->
                	<div class="content-left-title">
                    	THE UPCOMING COMPETITIONS
                    </div>
                    @foreach (Competitions upcomming in ViewBag.upcomming)
                    {
                    <div class="content-left-content">
                    	<div class="content-left-content-item">
                        	<div class="item-image">
                            
                            	<img src="@Url.Content("~/Content/Images/competitions/"+@upcomming.Images)" alt="@upcomming.Name" />
                       
                            </div>
                            <div class="item-detail">
                            	<div class="item-detail-note">
                               @upcomming.DeadlineDate.ToString("dd/MMM/yyyy") (deadline)
                                	
                                </div>
                            	<div class="item-detail-title">
                                    <a href="#">@upcomming.Name</a>
                                </div>
                            	<div class="item-detail-content">
                              
                                	@upcomming.Summary.Substring(0,80);
                                </div>
                            	<div class="item-detail-date">
                                  
                                    Start date:@upcomming.StartDate.ToString("dd/MMM/yyyy") <br />
                                    End date:@upcomming.EndDate.ToString("dd/MMM/yyyy")
                                </div>
                                <div class="item-detail-link">
                                	<a href="@Url.Content("~/Home/detail_upcomming/" + @upcomming.ID)")>View detail...</a>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                                
                    }   
                      @{Html.RenderAction("Oncomming", "Home");} 
                    <!--------------------LIST OF STUDENTS--------------------->
                	<div class="content-left-title">
                    	LIST OF STUDENTS AWARDED
                    </div>
                    <div class="content-left-content">
                    	<div class="student-item">
                        	<img alt="" src="@Url.Content("~/Content/Images/students/student-1.jpg")" />
                        </div>
                    	<div class="student-item">
                        	<img alt="" src="@Url.Content("~/Content/Images/students/student-2.jpg")" />
                        </div>
                    	<div class="student-item">
                        	<img alt="" src="@Url.Content("~/Content/Images/students/student-3.jpg")" />
                        </div>
                    	<div class="student-item">
                        	<img alt="" src="@Url.Content("~/Content/Images/students/student-4.jpg")" />
                        </div>
                    	<div class="student-item">
                        	<img alt="" src="@Url.Content("~/Content/Images/students/student-5.jpg")" />
                        </div>
                    	<div class="student-item">
                        	<img alt="" src="@Url.Content("~/Content/Images/students/student-6.jpg")" />
                        </div>
                         @*@{Html.RenderAction("list_student", "Home");} *@
                    </div>
                    <div class="content-left-title">d dsf</div>