@{
    Layout = "~/Views/Shared/Error.cshtml";
}
<div class="wrapper">
        <div class="main">
        
        </div>
        <div class="navigation">
            <ul>
                <li><a href="@Url.Content("~/")">Home</a></li>
                <li><a href="@Url.Content("~/competition")">Competitions</a></li>
                <li><a href="@Url.Content("~/design")">Designs</a></li>
                <li><a href="@Url.Content("~/exhibtition")">Exhibtitions</a></li>
                <li><a href="@Url.Content("~/contact")">Contact us</a></li>
                <li><a href=@Url.Content("~/faqs")"">FAQs</a></li>
            </ul>
        </div>
    </div>